<style type="text/css">

*{
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body /* set defaults for page (inherit, if possible) */
{	
	background-color: #FFFFFF;
	font-family: tahoma, verdana, sans-serif;
	font-size: 12px;	
	color: #303030; /* grey background fade */
	background-repeat: repeat-x;
	background-image: url(/common/images/background.jpg);
	text-align: justify;
        direction: ltr;
}

#container /* The main box on top of the background. */
{
	width: 800px; /* currently matches header.png; should be 800 */
	margin: 0px auto 0px auto;  /* Top, Right, Bottom, Left */	
	background-color: #FFFFFF;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	color: inherit;
}
	
#container href { class: nounderline; }

#container a:link, #container a:visited 
{
	color: #000080;
	font-weight:normal;
	text-decoration: none;
}

#box
{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
        background-color: rgb(231, 231, 255);
}

#box2
{
	border-bottom: 1px solid #000000;
        background-color: rgb(231, 255, 255);
}

#navbar {}

#navbar table
{
	width: 800px;
	color: #000080;
}
#navbar tr
{
	text-align: center; 
	vertical-align: middle;
}

#people {}

#people tr
{
	text-align: center; 
	vertical-align: middle;
}

#main /****** Main Page ******/
{
	display: block;
	width: 700px;
	margin: 0px auto 0px auto; /* Top, Right, Bottom, Left */
	padding: 10px; 	
	text-align: inherit;
}

P
{
	font-family: Helvetica,sans-serif;
	text-indent: 0em;
}

TD, A, UL, LI, H1, H2, H3, H4, H5, H6 
{
	font-family: Helvetica,sans-serif;
	font-weight: normal;
}
	
H1 	
{	
	font-size: 160%;
	color: rgb(0, 0, 127);
	text-align: center;
	text-transform:uppercase;
}

H2 	
{
	font-size: 140%;
	color: rgb(0, 0, 127);
	text-align: left;		
}

H3 	
{
	font-size: 120%;
	color: rgb(111, 0, 0);
}

H4 
{
	font-size: 120%;
	color: rgb(0, 111, 0);
}

TR { vertical-align: top}

</style>

